In [1]:
# importing necessary libraries
import pandas as pd
import numpy as np

In [2]:
# loading the data
bad=pd.read_csv("badminton.csv")

In [3]:
bad.head(3)

,Reviewer Name,Review Title,Place of Review,Up Votes,Down Votes,Month,Review text,Ratings
0,Kamal Suresh,Nice product,"Certified Buyer, Chirakkal",889.0,64.0,Feb 2021,"Nice product, good quality, but price is now r...",4
1,Flipkart Customer,Don't waste your money,"Certified Buyer, Hyderabad",109.0,6.0,Feb 2021,They didn't supplied Yonex Mavis 350. Outside ...,1
2,A. S. Raja Srinivasan,Did not meet expectations,"Certified Buyer, Dharmapuri",42.0,3.0,Apr 2021,Worst product. Damaged shuttlecocks packed in ...,1

In [4]:
tawa=pd.read_csv("tawa.csv")
tawa.head(3)

,Reviewer_Name,Reviewer_Rating,Review_Title,Review_Text,Place_of_Review,Date_of_Review,Up_Votes,Down_Votes
0,Sumit Kumar,5.0,Wonderful,I think In this price category it's best dosa ...,"Certified Buyer, Lakhisarai",Sumit Kumar,211,39
1,BHARAT GALAGALI,5.0,Mind-blowing purchase,perfect tawa for Dosa..READ MORE,"Certified Buyer, Hunsur",BHARAT GALAGALI,107,17
2,Paramjeet Singh,5.0,Awesome,Excellent tawa. Made Paneer Tikka on first day...,"Certified Buyer, Rampura Phul",Paramjeet Singh,59,8

In [6]:
tea=pd.read_csv("tea.csv")
tea.head(3)

,reviewer_name,reviewer_rating,review_title,review_text,place_of_review,Date_of_review,up_votes,Down_votes
0,Subhro Banerjee,5,Worth every penny,Great product ü§ó with great deals üòçüòç Tata Tea G...,"Certified Buyer, Budge Budge",Subhro Banerjee,236,59
1,Shiv chandra Jha,5,Great product,Very nice and super qwality tea taste are grea...,"Certified Buyer, Saharsa",Shiv chandra Jha,225,79
2,Flipkart Customer,5,Highly recommended,Great test great quality great price point tim...,"Certified Buyer, Sri Ganganagar",Flipkart Customer,89,27

In [7]:
bad.columns

Index(['Reviewer Name', 'Review Title', 'Place of Review', 'Up Votes',
       'Down Votes', 'Month', 'Review text', 'Ratings'],
      dtype='object')

In [5]:
bad["review"]=bad["Review Title"]+"."+bad["Review text"]

In [6]:
bad.head(2)

,Reviewer Name,Review Title,Place of Review,Up Votes,Down Votes,Month,Review text,Ratings,review
0,Kamal Suresh,Nice product,"Certified Buyer, Chirakkal",889.0,64.0,Feb 2021,"Nice product, good quality, but price is now r...",4,"Nice product.Nice product, good quality, but p..."
1,Flipkart Customer,Don't waste your money,"Certified Buyer, Hyderabad",109.0,6.0,Feb 2021,They didn't supplied Yonex Mavis 350. Outside ...,1,Don't waste your money.They didn't supplied Yo...

In [7]:
bad["review"][0]

'Nice product.Nice product, good quality, but price is now rising which is a bad sign. 800-850 was an affordable price, especially when we play everyday. So kindly help us out in terms of the price. Thank You.READ MORE'

In [8]:
bad["sentiment"]=bad["Ratings"].apply(lambda x:"positive" if x>2.5 else "negative")

In [9]:
bad.head(3)

,Reviewer Name,Review Title,Place of Review,Up Votes,Down Votes,Month,Review text,Ratings,review,sentiment
0,Kamal Suresh,Nice product,"Certified Buyer, Chirakkal",889.0,64.0,Feb 2021,"Nice product, good quality, but price is now r...",4,"Nice product.Nice product, good quality, but p...",positive
1,Flipkart Customer,Don't waste your money,"Certified Buyer, Hyderabad",109.0,6.0,Feb 2021,They didn't supplied Yonex Mavis 350. Outside ...,1,Don't waste your money.They didn't supplied Yo...,negative
2,A. S. Raja Srinivasan,Did not meet expectations,"Certified Buyer, Dharmapuri",42.0,3.0,Apr 2021,Worst product. Damaged shuttlecocks packed in ...,1,Did not meet expectations.Worst product. Damag...,negative

In [10]:
bad=bad[["review","sentiment"]]

In [11]:
bad.head(3)

                                              review sentiment
0  Nice product.Nice product, good quality, but p...  positive
1  Don't waste your money.They didn't supplied Yo...  negative
2  Did not meet expectations.Worst product. Damag...  negative

In [16]:
bad.isnull().sum()

review       10
sentiment     0
dtype: int64

In [12]:
bad.dropna(inplace=True)

In [18]:
bad.isnull().sum()

review       0
sentiment    0
dtype: int64

In [29]:
bad["sentiment"].value_counts()

sentiment
positive    7437
negative    1071
Name: count, dtype: int64

In [19]:
tawa.columns

Index(['Reviewer_Name', 'Reviewer_Rating', 'Review_Title', 'Review_Text',
       'Place_of_Review', 'Date_of_Review', 'Up_Votes', 'Down_Votes'],
      dtype='object')

In [13]:
tawa["review"]=tawa["Review_Title"]+"."+tawa["Review_Text"]

In [14]:
tawa.head(3)

,Reviewer_Name,Reviewer_Rating,Review_Title,Review_Text,Place_of_Review,Date_of_Review,Up_Votes,Down_Votes,review
0,Sumit Kumar,5.0,Wonderful,I think In this price category it's best dosa ...,"Certified Buyer, Lakhisarai",Sumit Kumar,211,39,Wonderful.I think In this price category it's ...
1,BHARAT GALAGALI,5.0,Mind-blowing purchase,perfect tawa for Dosa..READ MORE,"Certified Buyer, Hunsur",BHARAT GALAGALI,107,17,Mind-blowing purchase.perfect tawa for Dosa..R...
2,Paramjeet Singh,5.0,Awesome,Excellent tawa. Made Paneer Tikka on first day...,"Certified Buyer, Rampura Phul",Paramjeet Singh,59,8,Awesome.Excellent tawa. Made Paneer Tikka on f...

In [15]:
tawa["review"][0]

"Wonderful.I think In this price category it's best dosa tawa. I tried it and it turned out to be great. Thanks Flipkart!READ MORE"

In [16]:
tawa["sentiment"]=tawa["Reviewer_Rating"].apply(lambda x: "positive" if x>2.50 else "negative")

In [17]:
tawa.head(3)

,Reviewer_Name,Reviewer_Rating,Review_Title,Review_Text,Place_of_Review,Date_of_Review,Up_Votes,Down_Votes,review,sentiment
0,Sumit Kumar,5.0,Wonderful,I think In this price category it's best dosa ...,"Certified Buyer, Lakhisarai",Sumit Kumar,211,39,Wonderful.I think In this price category it's ...,positive
1,BHARAT GALAGALI,5.0,Mind-blowing purchase,perfect tawa for Dosa..READ MORE,"Certified Buyer, Hunsur",BHARAT GALAGALI,107,17,Mind-blowing purchase.perfect tawa for Dosa..R...,positive
2,Paramjeet Singh,5.0,Awesome,Excellent tawa. Made Paneer Tikka on first day...,"Certified Buyer, Rampura Phul",Paramjeet Singh,59,8,Awesome.Excellent tawa. Made Paneer Tikka on f...,positive

In [18]:
tawa=tawa[["review","sentiment"]]

In [19]:
tawa.head(3)

                                              review sentiment
0  Wonderful.I think In this price category it's ...  positive
1  Mind-blowing purchase.perfect tawa for Dosa..R...  positive
2  Awesome.Excellent tawa. Made Paneer Tikka on f...  positive

In [27]:
tawa.tail(3)

                                                 review sentiment
2528  Really Nice.Everything is good in this price b...  positive
2529  Good.Tawa OK .but Handle not regid.poor handle...  positive
2530                            Just okay.NiceREAD MORE  positive

In [28]:
tawa["sentiment"].value_counts()

sentiment
positive    2285
negative     246
Name: count, dtype: int64

In [20]:
# combining the two datasets to get new single dataset
df=pd.concat([bad,tawa],axis=0,ignore_index=True)

In [21]:
df.head()

                                              review sentiment
0  Nice product.Nice product, good quality, but p...  positive
1  Don't waste your money.They didn't supplied Yo...  negative
2  Did not meet expectations.Worst product. Damag...  negative
3  Fair.Quite O. K. , but nowadays  the quality o...  positive
4  Over priced.Over pricedJust √¢?¬π620 ..from reta...  negative

In [47]:
df.tail(3)

                                                  review sentiment
11036  Really Nice.Everything is good in this price b...  positive
11037  Good.Tawa OK .but Handle not regid.poor handle...  positive
11038                            Just okay.NiceREAD MORE  positive

## Data Preprocessing

In [48]:
df["review"][0]

'Nice product.Nice product, good quality, but price is now rising which is a bad sign. 800-850 was an affordable price, especially when we play everyday. So kindly help us out in terms of the price. Thank You.READ MORE'

In [22]:
# converting into lower case letters
df["review"]=df["review"].str.lower()

In [23]:
df["review"][0]

'nice product.nice product, good quality, but price is now rising which is a bad sign. 800-850 was an affordable price, especially when we play everyday. so kindly help us out in terms of the price. thank you.read more'

In [24]:
# removing punctuations
import string
exclude=string.punctuation
def remove_punctuation(text):
    for i in exclude:
        text=text.replace(i,"")
    return text

In [25]:
df["review"]=df["review"].apply(remove_punctuation)

In [26]:
df["review"][0]

'nice productnice product good quality but price is now rising which is a bad sign 800850 was an affordable price especially when we play everyday so kindly help us out in terms of the price thank youread more'

In [27]:
# removing the stop words
from nltk.corpus import stopwords
import nltk
nltk.download("stopwords")

def remove_stopwords(text):
    new=[]
    for i in text.split():
        if i in stopwords.words("english"):
            new.append("")
        else:
            new.append(i)
    x=new[:]
    new.clear()
    return " ".join(x)

[nltk_data] Downloading package stopwords to C:\Users\B MOHAN
[nltk_data]     RAO\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

In [28]:
df["review"]=df["review"].apply(remove_stopwords)

In [145]:
df["review"][0]

'nice productnice product good quality  price   rising    bad sign 800850   affordable price especially   play everyday  kindly help us   terms   price thank youread '

In [29]:
# applying the stemming
from nltk.stem.porter import PorterStemmer
nltk.download("wordnet")
nltk.download("omw-1.4")
ps=PorterStemmer()
def stem(text):
    return " ".join([ps.stem(i) for i in text.split()])

[nltk_data] Downloading package wordnet to C:\Users\B MOHAN
[nltk_data]     RAO\AppData\Roaming\nltk_data...
[nltk_data]   Package wordnet is already up-to-date!
[nltk_data] Downloading package omw-1.4 to C:\Users\B MOHAN
[nltk_data]     RAO\AppData\Roaming\nltk_data...
[nltk_data]   Package omw-1.4 is already up-to-date!

In [30]:
df["review"]=df["review"].apply(stem)

In [31]:
df["review"][0]

'nice productnic product good qualiti price rise bad sign 800850 afford price especi play everyday kindli help us term price thank youread'

In [32]:
df.head()

                                              review sentiment
0  nice productnic product good qualiti price ris...  positive
1  dont wast moneythey didnt suppli yonex mavi 35...  negative
2  meet expectationsworst product damag shuttleco...  negative
3  fairquit k nowaday qualiti cork like 3 5 year ...  positive
4  pricedov pricedjust √¢¬π620 retaileri didnt unde...  negative

In [35]:
import re
def remove_specialchar(text):
    # Define a regular expression pattern to match non-alphabetic characters, numbers, and multiple spaces
    pattern = re.compile(r"[^a-zA-Z\s]+|[\s]+")
    # Use the sub() function to replace matches of the pattern with a single space
    return pattern.sub(r" ", text)

In [36]:
df["review"]=df["review"].apply(remove_specialchar)

In [37]:
df.head()

                                              review sentiment
0  nice productnic product good qualiti price ris...  positive
1  dont wast moneythey didnt suppli yonex mavi   ...  negative
2  meet expectationsworst product damag shuttleco...  negative
3  fairquit k nowaday qualiti cork like     year ...  positive
4  pricedov pricedjust   retaileri didnt understa...  negative

In [154]:
df["review"][0]

'nice productnic product good qualiti price rise bad sign   afford price especi play everyday kindli help us term price thank youread'

In [38]:
#splitting the data into input and output
x=df["review"]
y=df["sentiment"]

In [202]:
x.head()

0    nice productnic product good qualiti price ris...
1    dont wast moneythey didnt suppli yonex mavi   ...
2    meet expectationsworst product damag shuttleco...
3    fairquit k nowaday qualiti cork like     year ...
4    pricedov pricedjust   retaileri didnt understa...
Name: review, dtype: object

In [203]:
y.head()

0    positive
1    negative
2    negative
3    positive
4    negative
Name: sentiment, dtype: object

In [39]:
# converting the labels into numbers
from sklearn.preprocessing import LabelEncoder
enc=LabelEncoder()
y=enc.fit_transform(y)
y

array([1, 0, 0, ..., 1, 1, 1])

In [40]:
# splitting the data into train and test data
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test = train_test_split(x,y,random_state=43,test_size=0.25)

In [41]:
x_train.shape

(8279,)

In [42]:
x_test.shape

(2760,)

In [208]:
df.shape

(11039, 2)

In [43]:
x_train.head()

10798                         perfect productveri goodread
7018               must buygenuin good product serviceread
218      nice productth pack made flipkart absolut perf...
4241                                   pretti goodniceread
8113                   highli recommendedsup nice packread
Name: review, dtype: object

In [210]:
df["sentiment"].value_counts()

sentiment
positive    9722
negative    1317
Name: count, dtype: int64

In [47]:
import mlflow
mlflow.set_experiment("sentiment_analysis")

2024/03/25 22:01:44 INFO mlflow.tracking.fluent: Experiment with name 'sentiment_analysis' does not exist. Creating a new experiment.

<Experiment: artifact_location='file:///e:/sentiment/mlruns/193178699853512476', creation_time=1711384304817, experiment_id='193178699853512476', last_update_time=1711384304817, lifecycle_stage='active', name='sentiment_analysis', tags={}>

In [44]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.naive_bayes import GaussianNB
from sklearn.pipeline import Pipeline
from sklearn.model_selection import GridSearchCV
from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.feature_extraction.text import CountVectorizer

In [58]:
pipelines={
    

    "tree":Pipeline(steps=[
        ("tfidf",TfidfVectorizer()),
        ("classifier",DecisionTreeClassifier())
    ]),

    "forest":Pipeline(steps=[
        ("tfidf",TfidfVectorizer()),
        ("classifier",RandomForestClassifier())
    ])

    
}


# param_grids={
#     "logisticregression":[
#         {
#             'vectorization': [CountVectorizer(), TfidfVectorizer()],
#             'vectorization__max_features' : [1000, 1500, 2000, 5000], 
#             'classifier__C': [0.1, 1, 10], 
#             'classifier__penalty': ['elasticnet'], 
#             'classifier__l1_ratio': [0.4, 0.5, 0.6],
#             'classifier__solver': ['saga'],
#             'classifier__class_weight': ['balanced']
#         }
#     ],

#     "tree":[
#         {
#             'vectorization': [CountVectorizer(), TfidfVectorizer()],
#             'vectorization__max_features' : [1000, 1500, 2000, 5000],
#             'classifier__max_depth': [None, 5, 10]
#         }
#     ],

#     "forest":[
#         {
#             'vectorization': [CountVectorizer(), TfidfVectorizer()],
#             'classifier__n_estimators': [50, 100, 200]
#         }
#     ],

#     "nb":[
#         {
#             'vectorization': [CountVectorizer()],
#             'vectorization__max_features' : [1000, 1500, 2000, 5000], 
#             'classifier__alpha' : [1, 10]
#         }
#     ]
# }

param_grids = {
   
    'tree': [
        {
            'tfidf__max_features': [100, 150, 200, 500],
            'classifier__max_depth': [None, 5, 10]
        }
    ],
    'forest': [
        {
            'tfidf__max_features': [100, 150, 200, 500],
            'classifier__n_estimators': [50, 100, 200]
        }
    ]
    
}

In [60]:
import time
import os
import joblib
best_models={}
for i in pipelines.keys():
    print("*"*10,i,"*"*10)
    grid_search=GridSearchCV(estimator=pipelines[i],
                             param_grid=param_grids[i],
                             cv=5,
                             scoring="accuracy",
                             return_train_score=True,
                             verbose=1)
    
    mlflow.sklearn.autolog(max_tuning_runs=None)
    with mlflow.start_run() as run:
        %time grid_search.fit(x_train,y_train)
    print("train score",grid_search.best_score_)
    print("test score",grid_search.score(x_test,y_test))
    best_models[i]=grid_search.best_estimator_
    print()
    model_dir="best_models"
    os.makedirs(model_dir,exist_ok=True)
    model_path=os.path.join(model_dir,f"{i}.pkl")
    joblib.dump(grid_search.best_estimator_,model_path)
    model_size=os.path.getsize(model_path)

********** tree **********

2024/03/25 22:15:53 WARNING mlflow.sklearn: Unrecognized dataset type <class 'pandas.core.series.Series'>. Dataset logging skipped.

Fitting 5 folds for each of 12 candidates, totalling 60 fits
CPU times: total: 3.64 s
Wall time: 31.1 s
train score 0.8974518002831413
test score 0.8992753623188405

********** forest **********

2024/03/25 22:16:25 WARNING mlflow.sklearn: Unrecognized dataset type <class 'pandas.core.series.Series'>. Dataset logging skipped.

Fitting 5 folds for each of 12 candidates, totalling 60 fits
CPU times: total: 52.4 s
Wall time: 3min 8s
train score 0.8984178379088401
test score 0.902536231884058

In [53]:
df.to_csv('final_data.csv', index=False)

In [62]:
import joblib

# Load the model
mod= joblib.load("forest.pkl")

In [66]:
mod.predict(["very poor "])

array([0])